{% extends "base.html" %}
{% block title %}Video Stream{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
  <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
{% endblock %}
{% block content %}
  <div class="title" style="text-align: center;">
    <h1>About</h1>
    <div class="contents" style="text-align: center;">
      We will bring your baby's smile to you every day.
    </div>
  </div>
  <div class="picture" >
    <img src="{{ url_for('static', filename='image/BMconcepts.png') }}" alt="Finale" width="600" height="250">
  </div>

  <div class="title" style="text-align: center;">
    Team
    <div class="contents" style="text-align: center;">
      <ul>
        <li>Shane Oh</li>
        <li>Jeasung Choi</li>
        <li>Eunchae Jo</li>
        <li>Keito Matsubara</li>
        <li>Minji Kim</li>
      </ul>
      <a href="{{ url_for('index') }}">Home</a>
    </div>
  </div>
{% endblock %}