{% extends "base.html" %}
{% block title %}Video Stream{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
  <h1>{{ name }}'s Video Stream</h1>
  <h3>Streaming on {{ uri }}</h3>
  <a href="/register">
    <button>Reregister</button>
  </a>
  <div class="container">
    <div class="row">
      <div>
        <h3>Live Streaming</h3>
        <img src="{{ url_for('video_feed') }}" width="100%">
      </div>
    </div>
  </div>
{% endblock %}